@import "tailwindcss";

.flex-1 {
    scrollbar-gutter: stable;
}

.flex-1::-webkit-scrollbar {
    width: 7px; 
}

.flex-1::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 10px; 
}

.flex-1::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px; 
}

.flex-1::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px #1f2937 inset !important;
  box-shadow: 0 0 0px 1000px #1f2937 inset !important;
  -webkit-text-fill-color: #e5e7eb !important; 
  caret-color: #e5e7eb !important;
  border: 1px solid #374151 !important;
  background-color: #1f2937 !important;
}
